@import 'tailwindcss';

@theme {
  --background: #ffffff;
  --foreground: #000000;

  --font-family-sans: 'Pretendard', sans-serif;
  --font-family-mono: 'Menlo', monospace;

  --text-size-xs: 0.5rem; /* 8px */
  --text-size-sm: 0.625rem; /* 10px */
  --text-size-base: 0.75rem; /* 12px */
  --text-size-lg: 0.875rem; /* 14px */
  --text-size-xl: 1rem; /* 16px */
  --text-size-xxl: 1.5rem; /* 24px */

  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --border-width-0: 0px;
  --border-width: 1px;
  --border-width-2: 2px;
  --border-width-4: 4px;

  --color-green-light: #e6f6f4;
  --color-green-light-hover: #d9f2ef;
  --color-green-light-active: #b0e4dd;
  --color-green-normal: #00a991;
  --color-green-normal-hover: #009883;
  --color-green-normal-active: #008774;
  --color-green-dark: #007f6d;
  --color-green-dark-hover: #006557;
  --color-green-dark-active: #004c41;
  --color-green-darker: #003b33;

  --color-grey-light: #c8c8c8;
  --color-grey-light-hover: #bdbdbd;
  --color-grey-light-active: #afafaf;
  --color-grey-normal: #848484;
  --color-grey-normal-hover: #707070;
  --color-grey-normal-active: #606060;
  --color-grey-dark: #2e2e2e;
  --color-grey-dark-hover: #212121;
  --color-grey-dark-active: #0f0f0f;

  --color-grey-lighter: #fdfdfd;
  --color-grey-lighter-hover: #f2f2f2;

  --color-red: #ed4242;

  --color-bg: #f5f5f5;

  --layout-width: 440px;

  --rounded-sm: 4px;
  --rounded-md: 8px;

  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* Custom text size utilities */
.text-xs-custom {
  font-size: var(--text-size-xs);
}

.text-sm-custom {
  font-size: var(--text-size-sm);
}

.text-base-custom {
  font-size: var(--text-size-base);
}

.text-lg-custom {
  font-size: var(--text-size-lg);
}

.text-xl-custom {
  font-size: var(--text-size-xl);
}

.text-xxl-custom {
  font-size: var(--text-size-xxl);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family-sans);
}
